.title{
     font-family: arial;
     font-weight: bold;
     font-size: 18px;
     width: 280px;
     line-height: 24px;
     margin-bottom: 5px;
}
  .view{
    font-family: Arial;
    font-size: 14px;
    color: rgb(96,96,96);
    margin-top: 0;
    margin-bottom: 20px;
  }
.author{
    font-family: Arial;
    color: rgb(96,96,96);
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
}
.text{
    font-family: arial;
    font-size: 14px;
    color: rgb(96,96,96);
    width: 280px;
    margin-top: 0;
    line-height: 18px;
    margin-bottom: 50 px;
  }
  .apple{ 
    font-family: arial;
    font-size: 14px;
    background-color: rgb(227,65,64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .shop:hover{
    cursor: pointer;
    text-decoration: underline;
  }